<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PayPal Node App</title>
</head>

<body>
    <h1>Spring fever embroidered linen top</h1>
    <h2>Buy For $ <span id="total">$23.98</span> </h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">

        <button type="button" id='bot'>Click Me!</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</body>

</html>